.container {
    display: grid;
    grid-template-columns: 1fr;
    height: 20%;
    width: 20%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #6fb2d2;
    border-radius: 6px;
    cursor: pointer;
    background-color: #eeeeee;
}

.imgAlbum img {
    border-radius: 6px 6px 0px 0px;
    width: 100%;
    height: 100%;
}

.btn {
    width: 100%;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
    align-self: end;
    background-color: #488fb1;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}