* {
  box-sizing: border-box;
  font-family: sans-serif;
}

/* button login */
.btn {
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

.bg-secondary1 {
  width: 18%;
  background-color: #488fb1;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 12px;
  margin-left: 20px;
}

.btn-wrapper {
  text-align: center;
  margin-top: 240px;
}

.bg-secondary1 {
  background-color: #488fb1;
}

.bg-secondary1.btn:hover {
  background-color: #6fb2d2;
}

/*Search */
.container {
  padding: 15px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  text-align: center;
}

.container input[type=text] {
  width: 60%;
  padding: 10px;
}

.container button {
  padding: 12px 15px;
  background-color: #6fb2d2;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Container Album */
.card-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50%;
}